numpy==1.22.4
torch==2.2.2
xformers==0.0.25.post1
torchvision==0.17.2
pytorch_lightning==1.4.2
einops==0.8.1
open_clip_torch
omegaconf==2.3.0
torchmetrics==0.6.0
triton==2.2.0
opencv-python-headless
opencv-python==4.12.0.88
scipy==1.15.3
lpips
gradio
chardet
transformers==4.37.2
facexlib==0.3.0
